
    <%- include("partials/header"); -%>
    <h1>About</h1>
    <p>  Many people have experienced the relief of getting something off their chest by
         sharing personal information. Relieving the stress of concealing painful, emotionally distressing 
        information by sharing it with a trusted confidant can be cathartic, freeing, and liberating.  </p>
    

