
    <%- include("partials/header"); -%>
    <h1>About</h1>
    <p>  Many people have experienced the relief of getting something off their chest bysharing personal information.
         <br> Relieving the stress of concealing painful, emotionally distressing information by sharing it with a 
         trusted confidant can be cathartic, freeing, and liberating.  </p>
         <strong>Sharing your secret anonymously can also sometimes offer relief,
              but it’s important to make sure you’re truly anonymous.</strong>
    
     <p> so here we came up with this <strong>share-secret</strong> app where people can share
          
          their secrets .
