<%- include("partials/header"); -%>
<h3>CONTACT US <i class="fas fa-folder"></i></h3>
<h6>Faruk Munshi</h6>
<p><i class="fas fa-envelope"></i> informfaruk@gmail.com</p>
<p><i class="fas fa-phone"></i> 9876543210</p>
<h6>Rinki Yadav</h6>
<p><i class="fas fa-envelope"></i> rinkiyadav15me@gmail.com</p>
<p><i class="fas fa-phone"></i> 9876543210</p>
